body {
    background: #a4bfa0;
    font-family:'Courier New', Courier, monospace
   color:rgb(49, 43, 34);
   font-size: 20px;
}
h1 {
    text-align: center;
}
img {max-width: 50%;
}
li {
    font-size: 1em;
}
.blue{
    color:rgb(19, 106, 47)
}

@media only screen and (max-width: 600px)
{
    body {
            background:blanchedalmond;
    }
}